<h1>Lista uczestników Jesusbook</h1>

<% @users.each do |user| %>
  <h1>Name: <%= user.name %></h1>
  <h3><%= user.email %><h3>
  <% unless user.baptism.nil? %>
    <h3>Parish baptism: <%= user.baptism.parish %></h3>
  <% end %>

<% end %>
