<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <% unless current_user %>
      <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Login", users_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div  class="col-md-2 col-md-offset-2">
    <%= image_tag "jesus.jpg", alt: "Jesus", id: "jezus_foto", width: "50%" %>
  </div>
</div>
